deployment/test-workflow-simple.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {}
      }
    }
  },
  "actions": {
    "Initialize_VM_Test_Data": {
      "runAfter": {},
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "TestVMMetrics",
            "type": "string",
            "value": "{\"vmName\":\"prod-web-01\",\"resourceGroup\":\"production-rg\",\"currentSKU\":\"Standard_D4s_v3\",\"metrics\":{\"cpu\":{\"max\":85.2,\"avg\":72.3,\"p95\":82.1},\"memory\":{\"max\":88.5,\"avg\":78.2,\"p95\":85.3},\"diskIOPS\":{\"max\":5200,\"avg\":3800,\"p95\":4900}},\"currentMonthlyCost\":140.16}"
          }
        ]
      }
    },
    "Call_Azure_OpenAI_for_Analysis": {
      "runAfter": {
        "Initialize_VM_Test_Data": ["Succeeded"]
      },
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "https://saig-test-openai.cognitiveservices.azure.com/openai/deployments/gpt-5/chat/completions?api-version=2025-01-01-preview",
        "headers": {
          "Content-Type": "application/json",
          "api-key": "<YOUR_OPENAI_API_KEY>"
        },
        "body": {
          "messages": [
            {
              "role": "system",
              "content": "You are an Azure cloud infrastructure optimization expert. Analyze VM performance metrics and provide sizing recommendations with cost implications."
            },
            {
              "role": "user",
              "content": "Analyze this VM and provide a concise recommendation:\n\nVM Data: @{variables('TestVMMetrics')}\n\nProvide:\n1. Current utilization assessment\n2. Recommended action (UPSIZE/DOWNSIZE/MAINTAIN)\n3. Suggested VM SKU if change needed\n4. Expected cost impact\n5. Risk level (LOW/MEDIUM/HIGH)\n\nKeep the response under 200 words."
            }
          ],
          "max_tokens": 500,
          "temperature": 0.3
        }
      }
    },
    "Parse_AI_Response": {
      "runAfter": {
        "Call_Azure_OpenAI_for_Analysis": ["Succeeded"]
      },
      "type": "ParseJson",
      "inputs": {
        "content": "@body('Call_Azure_OpenAI_for_Analysis')",
        "schema": {
          "type": "object",
          "properties": {
            "choices": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Compose_Email_Body": {
      "runAfter": {
        "Parse_AI_Response": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "emailBody": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 20px; background-color: #f5f5f5; }\n        .container { background-color: white; padding: 30px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n        .header { background: linear-gradient(135deg, #0078d4 0%, #004a8c 100%); color: white; padding: 20px; border-radius: 8px; margin: -30px -30px 20px -30px; }\n        .metric-box { background-color: #f0f6ff; border-left: 4px solid #0078d4; padding: 15px; margin: 10px 0; border-radius: 4px; }\n        .recommendation { background-color: #e8f4f8; border-left: 4px solid #00bcf2; padding: 15px; margin: 15px 0; border-radius: 4px; }\n        .footer { margin-top: 20px; padding-top: 20px; border-top: 1px solid #e0e0e0; font-size: 12px; color: #666; }\n        pre { background-color: #f5f5f5; padding: 10px; border-radius: 4px; overflow-x: auto; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🔧 VM Performance Monitoring Test</h1>\n            <p>AI-Powered Analysis Demo</p>\n            <p>Generated: @{utcNow()}</p>\n        </div>\n        \n        <h2>Test Status: ✅ Success</h2>\n        <p>This is a test email from your VM Performance Monitoring solution. All components are working correctly!</p>\n        \n        <div class=\"metric-box\">\n            <h3>📊 Test VM Metrics</h3>\n            <pre>@{variables('TestVMMetrics')}</pre>\n        </div>\n        \n        <div class=\"recommendation\">\n            <h3>💡 AI-Generated Recommendation</h3>\n            <p>@{body('Parse_AI_Response')?['choices']?[0]?['message']?['content']}</p>\n        </div>\n        \n        <h3>✅ Verified Components:</h3>\n        <ul>\n            <li>✅ Azure Logic App deployed and running</li>\n            <li>✅ Azure OpenAI (GPT-5) connection working</li>\n            <li>✅ AI analysis generating recommendations</li>\n            <li>✅ Email delivery successful</li>\n            <li>✅ Cross-subscription Log Analytics workspace configured</li>\n        </ul>\n        \n        <h3>📋 Next Steps:</h3>\n        <ol>\n            <li>The solution is now ready for production use</li>\n            <li>VM metrics will be collected from Log Analytics workspace</li>\n            <li>Weekly reports will be sent every Monday at 8 AM UTC</li>\n            <li>You can manually trigger reports anytime via the Logic App</li>\n        </ol>\n        \n        <div class=\"footer\">\n            <p><strong>Configuration Details:</strong></p>\n            <p>Log Analytics: Ue1NePrd-perf-only-log-analytics-workspace</p>\n            <p>Subscription: 54305029-7d35-40a9-8bf9-950963b449cc</p>\n            <p>Logic App: vmperf-logic-app</p>\n            <p>AI Model: GPT-5 (gpt-5 deployment)</p>\n        </div>\n    </div>\n</body>\n</html>"
      }
    },
    "Send_Email_via_Microsoft_Graph": {
      "runAfter": {
        "Compose_Email_Body": ["Succeeded"]
      },
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "https://graph.microsoft.com/v1.0/me/sendMail",
        "headers": {
          "Content-Type": "application/json"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "a49ccbce-2912-4654-86cf-78a7548569ba",
          "audience": "https://graph.microsoft.com"
        },
        "body": {
          "message": {
            "subject": "✅ VM Performance Monitoring Test - Success!",
            "body": {
              "contentType": "HTML",
              "content": "@{outputs('Compose_Email_Body')['emailBody']}"
            },
            "toRecipients": [
              {
                "emailAddress": {
                  "address": "saigunaranjan.andhra@veradigm.com"
                }
              }
            ]
          },
          "saveToSentItems": "true"
        }
      }
    }
  },
  "outputs": {}
}
